body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 300ms;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
  --bg-solar: var(--yellow);

}

.light {
  --bg: var(--gray0);
  --bg-accent: var(--gray2);
  --bg-nav: linear-gradient(to bottom, var(--gray0), var(--gray3));
  --bg-dropdown: var(--gray0);
  --text-color: var(--gray6);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
}

.dark {
  --bg: var(--gray5);
  --bg-accent: var(--gray4);
  --bg-nav: linear-gradient(to bottom, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --text-color: var(--gray0);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
}

.solar {
  --gray0: #fbffd4;
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #3ea568;
  --gray5: #005368;
  --gray6: #003d4c;
}

#body {
  height: 100vh;
  color: var(--text-color);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h2,p {
  margin-left: 5rem;
  margin-right: 5rem;

}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg-nav);
  padding: 0 1rem;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

header {
  background: var(--bg-nav);
  margin-bottom: 1em;
  padding: 1em 1em 3.5em;
  text-align: center;
  clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

header svg {
  height: auto;
  width: 10%;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --botton-size: calc(var(--nav-size) * 0.5);
  width: var(--botton-size);
  height: var(--botton-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-right svg,
.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  z-index: 1;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background calc(var(--speed) / 2);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #525357;
}

.menu-item h1,
.menu-item h3 {
  padding-left: 1rem;
}

.icon-right {
  margin-left: auto;
}

.icon-theme {
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

#dark {
  background: #2a2e35;
}

#light {
  background: #ffffff;
}

#solar {
  background: var(--bg-solar);
}

.menu {
  width: 100%;
}

.menu hr {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
  box-sizing: border-box;
  padding: 1rem;
  top: 0;
  left: 0;
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}


@keyframes color-rotate {
  from {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(0deg) brightness(119%) contrast(119%);
  }
  to {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(360deg) brightness(119%) contrast(119%);
  }
}


.logo svg:hover {
  animation: color-rotate 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
